#gameArea {
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  background-image: url("../../resources/brickWall/prairie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brickPile {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  border: 0.3ex solid rgba(0,0,0,0);
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 36%;
}

.wall {
  width: 60%;
  overflow: auto;
  border: 0.3ex solid rgba(0,50,0,0.45);
  background: transparent;
  color: rgb(20,20,20);
  cursor: default;
  flex-direction: column;
  font-size: 100%;
}

.brick {
  display: inline-block;
  padding: 0;
  margin: 0;
  border-radius: 0.4ex;
  box-shadow: inset 0 0 0 0.1ex black;
  color: white;
  background-image: url("../../resources/brickWall/brick-dark.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.empty {
  box-sizing: border-box;
  border-radius: 0.4ex;
  background: rgba(150, 150, 150, 0.8);
}
.empty.preview {
  background: lightgreen;
}

.brick.movable {
  background-image: url("../../resources/brickWall/brick.png");
}
.brick.movable.ghost {
  opacity: 1;
}

.brickRow {
  display: flex;
  flex-direction: row;
}
.movingBricks {
  font-size: 36%;
}

.buttonContainer {
  position: absolute;
  top: 5%;
  right: 5%;
}