@import url("../BrickWallBase.css");

.wall.correctGlow {
  animation: correctGlow 3s ease-in-out;
  box-shadow: 0 0 6ex rgba(76, 229, 64, 0.8), 0 0 12ex rgba(76, 229, 64, 0.6), 0 0 18ex rgba(76, 229, 64, 0.4);
  }

@keyframes correctGlow {
  0% {
    box-shadow: 0 0 6ex rgba(76, 229, 64, 0.8), 0 0 12ex rgba(76, 229, 64, 0.6), 0 0 18ex rgba(76, 229, 64, 0.4);
    }
  100% {
    box-shadow: 0 0 0 rgba(76, 229, 64, 0), 0 0 0 rgba(76, 229, 64, 0);
    }
  }
